body {
  font-family: "Roboto", sans-serif;
  color: #434455;
background-color: #FFFFFF;
}

.link {
  text-decoration: none;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
--slate: #434455;
}
.logo {
font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-studio {
  color: #2e2f42;
}

.studio{
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.list{
    list-style: none;
}

.navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.first-button:hover,
.first-button:focus,
.contacts:hover,
.contacts:focus,
.studio:hover,
.studio:focus {
  color: #404bbf;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
font-style: normal;
}

.contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-buttons{
    background-color: var(---navyblue, #2e2f42);
}
.h2-section-1{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}

.first-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}
li > button {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--cloud, #f4f4fd);
  cursor: pointer;
  border: 1px solid var(--cornflower, #e7e9fc);
}

button:hover,
button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}

.sec2-h3{
font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(---navyblue, #2e2f42);
}
.sec2-p{
line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
}